<div class="agendamiento">
    <div class="titulo">    
        <h2>
            AGENDAMIENTO
        </h2>
    </div>
    
    <div class="contiene">
        <ngx-datatable
        #table
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
        [footerHeight]="0"
        >
            <ngx-datatable-column prop="id" name="Nombre"></ngx-datatable-column>
            <ngx-datatable-column prop="name" name="Telefono"></ngx-datatable-column>
            <ngx-datatable-column prop="flag" name="Producto"></ngx-datatable-column>
            <ngx-datatable-column prop="area" name="Fecha"></ngx-datatable-column>
            <ngx-datatable-column prop="population" name="Asesor"></ngx-datatable-column>
        </ngx-datatable>
        <!-- <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col" sortable="name" >Telefono</th>
                <th scope="col" sortable="area" (sort)="onSort($event)">Producto</th>
                <th scope="col" >Fecha</th>
                <th scope="col" >Asesor</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries">
                <th scope="row">{{ country.id }}</th>
                <td>
                    {{ country.name }}
                </td>
                <td>{{ country.area }}</td>
                <td> {{ country.flag }}</td>
                <td> {{ country.population }}</td>
            </tr>
            </tbody>
        </table> -->
    </div>
</div>