<div class="Cliente">

        <div class="titulo">
            <h2 class="centrado">Producto {{info.Seguro}} </h2>
        </div>

        <div class="formulario">
            <form >
                    <div class="infor">
                        <label class="Nombr"> Nombre </label>
                        <label class="Contenido">{{info.firstname}}</label>
                    </div>
                    <div class="infor">
                        <label class="Nombr"> Apellido </label>
                        <label class="Contenido">{{info.lastname}}</label>
                    </div>
                    <div class="infor">
                        <label class="Nombr"> Documento </label>
                        <label class="Contenido">{{info.tipid}}</label>
                    </div>
                    <div class="infor">
                        <label class="Nombr"> Numero </label>
                        <label class="Contenido">{{info.id}}</label>
                    </div>
                    <div class="infor">
                        <label class="Nombr"> Telefono </label>
                        <label class="Contenido">{{info.cel}}</label>
                    </div>
                    <div class="infor ">
                        <label class="Nombr" for="mail"> Email </label>
                        <input class="Contenido" name="mail" type="text" value="{{info.mail}}" >
                    </div>
                    <div class="Comentarios">
                        <div class="contened">
                            <label  for="comentario"> Comentarios  </label>
                            <textarea name="" id=" comentario" cols="50%" rows="4%"> {{info.comment}}</textarea>
                        </div>
                    </div>
                    <div class="botones">
                        <div class="botoncon">
                            <button (click)="Continuar('acep')">Continuar</button>
                            <button (click)="Continuar('rec')">Rechazar</button>
                        </div>
                    </div>
            </form>
            
        </div>
</div>
