@use "../variables" as v;

.agendamiento{
    padding-right: 5rem;
    h2{
        font-weight: 700;
        font-size: 5rem;
        color: v.$blanco;
        text-align: center;
        margin-top: 0;
    }
    .contiene{
        margin-top: 8%;
        width: 100%;
        .ngx-datatable.bootstrap {
            box-shadow: none;
            font-size: 13px;
            .datatable-header {
                height: unset !important;
                background-color: v.$primario;
                color: v.$claro;
                text-align: center;
                font-family: v.$fuenteaux;
                font-size: 2.5rem;
                .datatable-header-cell {
                    text-align: center;
                    vertical-align: bottom;
                    .datatable-header-cell-label {
                        line-height: 24px;
                    }
                }
            }
            .datatable-body {
                overflow-y: scroll;
                overflow-x: hidden;
                max-height: 25rem;
                font-family: v.$fuenteppal;
                font-weight: 400;
                font-size: 2rem;
                color: v.$oscuro;
                .datatable-body-row {
                    vertical-align: top;
                    &.datatable-row-even {
                        background-color: v.$terciario
                    }
                    .datatable-body-cell {
                        padding: 0.75rem;
                        text-align: center;
                        vertical-align: top;
                    }
                }
                button{
                    background-color: v.$secundario;
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: v.$primario;
                    border:none;
                    border-radius: .8rem;
                    padding: .7rem;
                }
                button:hover{
                    color: v.$claro;
                    background-color: v.$primario;
                    transform: scale(1.08);
                }
            }

            .datatable-body::-webkit-scrollbar{
                width: .5rem;
            }
            .datatable-body::-webkit-scrollbar-thumb{
                background: #2f6eb65b;
                border-radius: .2rem;
            }
            
        }
        /* .table{
            
            
            width: 100%;
            margin: 0 auto;
            color: v.$oscuro;
            thead{
                width: 100%;
                font-family: v.$fuenteaux;
                font-size: 2.5rem;
                font-weight: 300;
                background-color: v.$primario;
                color: v.$claro;
                text-align: center;
            }
        
            tbody{
                

                background-color: v.$terciario;
                color: v.$oscuro;
                text-align: center;
                font-weight: 400;
                font-size: 1.9rem;
                
                button{
                    background-color: v.$secundario;
                    font-weight: 700;
                    font-size: 1.8rem;
                    color: v.$primario;
                    border:none;
                    border-radius: .8rem;
                    padding: .7rem;
                }
                button:hover{
                    color: v.$claro;
                    background-color: v.$primario;
                    transform: scale(1.08);
                }
            }
            
        } */
    }
    
}
