@use "../variables" as v;

.Asociados{
    padding: 0 2rem;

    h2{
        font-weight: 700;
        font-size: 5.5rem;
        color: v.$blanco;
    }
    .contiene{
        box-shadow: none;
        font-size: 13px;
        margin-top: 8%;
        .datatable-header {
            height: unset !important;
            background-color: v.$primario;
            color: v.$claro;
            text-align: center;
            font-family: v.$fuenteaux;
            font-size: 1.8rem;
            .datatable-header-cell {
                text-align: center;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                .datatable-header-cell-label {
                    line-height: 24px;
                    white-space: initial;
                    align-items: center;
                }
            }
        }
        .datatable-body {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 25rem;
            font-family: v.$fuenteppal;
            font-weight: 400;
            font-size: 1.7rem;
            color: v.$oscuro;
            .datatable-body-row {
                vertical-align: top;
                &.datatable-row-even {
                    background-color: v.$terciario
                }
                .datatable-body-cell {
                    padding: 0.75rem;
                    text-align: center;
                    vertical-align: top;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            button{
                background-color: v.$secundario;
                font-size: 2.5rem;
                color: v.$primario;
                border:none;
                border-radius: .8rem;
                padding: .7rem;
                i{
                    margin:0;
                    padding-left: .2rem;
                }
            }
            button:hover{
                color: v.$claro;
                background-color: v.$primario;
                transform: scale(1.08);
            }
        }

        .datatable-body::-webkit-scrollbar{
            width: .5rem;
        }
        .datatable-body::-webkit-scrollbar-thumb{
            background: #2f6eb65b;
            border-radius: .2rem;
        }
        
    }
    
    /* .table{
        
        margin: 0 auto;
        color: v.$oscuro;
        thead{
            background-color: v.$primario;
            color: v.$claro;
            text-align: center;
            th{
                vertical-align: middle;
            }
        }
        tbody{
            background-color: v.$terciario;
            color: v.$oscuro;
            text-align: center;
            td{
                vertical-align: middle;
            }
            button{
                background-color: #4C956C;
                border:none;
                border-radius: .5rem;
                padding: .5rem;
                font-size: 3rem;
                i{
                    margin:0;
                    padding-left: .2rem;
                }
            }
        }
    } */
}