@use '../variables' as v;

.documentos{
    padding: 0 2rem;
        h2{
            font-weight: 700;
            font-size: 5rem;
            color: v.$blanco;
        }
        .contenidodoc{
            background: v.$terciario;
            margin-top: 7%;
            padding: 3rem;
            height: 35rem;
            overflow-y: scroll ;

            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 3rem;

            .informacion{
                display: grid;
                grid-template-columns: 1.5fr 1fr 1fr;
                align-items: center;
                justify-items: start;

                .ltipo{
                    color: v.$oscuro;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    /* margin-right: 1.9rem; */
                    
                }
                
                .container {
                   .check{
                        input{
                            display: none;
                        }
                        span{
                            display: inline-block;
                            width: 6rem;
                            height: 3rem;
                            background: v.$claro;
                            border-radius: 3rem;
                            box-shadow: inset 0 0 0 1.5px #696868ce;
                            position: relative;
                            cursor: pointer;
                        }
                        span::after{
                            content: "";
                            display: block;
                            width: 3rem;
                            height: 3rem;
                            transform: scale(.9);
                            border-radius: 3rem;
                            background: #D00000;
                            transition: .5s;
                            /* box-shadow: inset 0 0 0 1.5px #8180809d; */
                            
                        }
                        input:checked ~ span::after{
                            background: #3c7555;
                            transform: scale(.9) translate(3.3rem);
                        }

                        i{
                            position: absolute;
                            left: .7rem;
                            top: .7rem;
                            z-index: 1;
                            color: v.$blanco;
                            transition: .5s;
                        }

                        input:checked ~ span .on{
                            transform: translate(3rem);
                            opacity: 1;
                        }

                        input:checked ~ span .of{
                            transform: translate(3rem);
                            opacity: 0;
                        }
                        .on{
                            opacity: 0;
                        }
                    }  
                }
                
                .pdf{
                    font-size: 2.3rem;
                    margin-bottom: 1rem;
                    padding:.5rem .9rem;
                    border: none;
                    border-radius: 50%;
                    background-color: #d12424;
                    color: v.$claro;
                    
                }
                .subir{
                    font-size: 2.3rem;
                    margin-bottom: 1rem;
                    padding:.5rem .9rem;
                    border: none;
                    border-radius: 50%;
                    background-color: #377a54;
                    color: v.$claro;
                }
            }
        }   
}