@use "../variables" as v;

.Cliente{
    padding: 0 2rem;
    h2{
        font-weight: 700;
        font-size: 5rem;
        color: v.$blanco;
        text-align: center;
        margin-top: 0;
    }

    .formulario{
        background: v.$terciario;
        padding: 2rem;
        form{
            margin-left:1.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            .infor{
                /* background-color: red; */
                width:100%;
                display: flex;
                input{
                    border: unset;
                    height: 100%;
                }
                .Nombr{
                    height: 100%;
                    font-weight: 500;
                    font-size: 1.8rem;
                    margin-left: 1.2rem;
                    color: v.$oscuro;
                    display: flex;
                    align-items: center;
                }
                .Contenido{
                    height: 100%;
                    margin-left:.8rem;
                    background-color: v.$claro;
                    font-weight: 300;
                    flex: 1 1 auto;
                    color: v.$oscuro;
                    padding: 0 1.5rem;
                    border-bottom-right-radius: 1rem ;
                    border-top-right-radius: 1rem ;
                    border: .1rem solid v.$primario;
                    display: flex;
                    align-items: center;
                }
                
            }
            .Comentarios{
                grid-column: 1/3;
                .contened{
                    display: flex;
                    /* 
                    align-items: center;
                    justify-content: space-evenly; */
                    
                    label{
                        height: 100%;
                        font-weight: 300;
                        color: v.$oscuro;
                        padding: 0 .5rem;
                        border-radius: 1rem;
                        font-weight: 500;
                        font-size: 1.8rem;
                    }
                    textarea{
                        margin-left: 1.5rem;
                        width: 82%;
                        resize: unset;
                        border: 1px solid v.$primario;
                        padding: .8rem 1.5rem;
                        background-color: v.$claro;
                        font-weight: 300;
                        color: v.$oscuro;
                    }
                }               
                
            }
            .botones{
                grid-column: 1/3;
                .botoncon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        border: unset;
                        border-radius: .5rem;
                        background-color: v.$primario;
                        color: v.$claro;
                        font-weight: 300;
                        padding: .7rem;
                        margin: 0 2rem;
                    }
                    button:hover{
                        transform: scale(1.15);
                    }
                }
            }
        }
        
    }
}