@use "../variables" as v;

.modal-header{
    background-color: v.$primario;
    
    .modal-title{
        margin:0 auto ;
        color: v.$claro;
        font-size: 3.5rem;
        font-weight: 700;
    }
    .close{
        font-size: 3.5rem;
        margin: auto 0;
        color: v.$claro;
        font-weight: 700;
    }
    .close:hover{
        transform: scale(1.2);
    }
}

.modal-body{
    .nav-tabs{
        .nav-link{
            color: v.$claro;
        }
        .nav-link.active {
            color: v.$oscuro;
        }
    }
}

.modal-footer{
    background-color: v.$primario;
    .trash{
        padding: .5rem .8rem;
        font-size: 1.8rem;
        color: v.$claro;
    }
}