<div class="agendamiento">
    <div class="titulo">    
        <h2>
            AGENDAMIENTO
        </h2>
    </div>
    
    <div class="contiene">
        <ngx-datatable
        #table
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
        [footerHeight]="0"
    >
        <ngx-datatable-column prop="Nombre"></ngx-datatable-column>
        <ngx-datatable-column prop="Telefono"></ngx-datatable-column>
        <ngx-datatable-column prop="Producto"></ngx-datatable-column>
        <ngx-datatable-column prop="Contactar" prop="Contactar">
        <ng-template ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-value="value"
                    let-row="row">
                    <button type="button"
                            
                    (click)="onClick(rowIndex)">
                    Contactar
                    </button>
        </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
        <!-- <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col" sortable="name" >Telefono</th>
                <th scope="col" sortable="area" (sort)="onSort($event)">Producto</th>
                <th scope="col" >Contactar</th>
            </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let country of countries">
                    <th scope="row">{{ country.id }}</th>
                    <td>
                        {{ country.name }}
                    </td>
                    <td>{{ country.area }}</td>
                    <td>
                        <button (click)="Contactar()" > Contactar </button>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
