<div class="Asociados">

    <div class="titulo"> 
        <h2  class="centrado">
            ASOCIADOS
        </h2>
    </div>

    <div class="contiene">

        <ngx-datatable
        #table
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
        [footerHeight]="0"
        >
        <ngx-datatable-column prop="Nombre"></ngx-datatable-column>
        <ngx-datatable-column prop ="tipID" name="Tipo de  identificion" ></ngx-datatable-column>
        <ngx-datatable-column prop ="id" name="Numero de  identificion"></ngx-datatable-column>
        <ngx-datatable-column prop ="Correo" name="Correo  Electronico"></ngx-datatable-column>
        <ngx-datatable-column prop ="Telefono" name="Telefono" ></ngx-datatable-column>
        <ngx-datatable-column prop ="Producto" name="Producto" ></ngx-datatable-column>
        <ngx-datatable-column prop ="Fecha" name="Fecha de solicitud" ></ngx-datatable-column>
        <ngx-datatable-column prop ="Estado" name="Estado del  Formulario" ></ngx-datatable-column>
        <ngx-datatable-column name="Ver documentos" prop="Ver documentos">
        <ng-template ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-value="value"
                    let-row="row">
                    <button class="btna" (click)="Documentacion()" > 
                        <i class="fas fa-file-archive"></i>    
                    </button>
        </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>

       <!--  <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col"  >Tipo de  identificion </th>
                <th scope="col" >Numero de  identificion</th>
                <th scope="col" >Correo  Electronico</th>
                <th scope="col" >Telefono</th>
                <th scope="col" >Producto</th>
                <th scope="col" sortab="Fecha" (sor)="onSor($event)">Fecha de solicitud </th>
                <th scope="col" sortab="Estado" (sor)="onSor($event)">Estado del  Formulario </th>
                <th scope="col" >Ver documentos </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries">
                <th scope="row">{{ country.Nombre }}</th>
                <td>
                    {{ country.tipID }}
                </td>
                <td>
                    {{ country.id }}
                </td>
                <td>
                    {{ country.Correo }}
                </td>
                <td>
                    {{ country.Telefono }}
                </td>
                <td>
                    {{ country.Producto }}
                </td>
                <td>
                    {{ country.Fecha }}
                </td>
                <td>
                    {{ country.Estado }}
                </td>
                <td>
                    
                </td>
            </tr>
            </tbody>
        </table> -->
    </div>
</div>
