<header>
    <div class="header">
        <img src="../../../assets/img/Logo-measegura.png" alt="MeAsegura">

        <div class="Identifica">
            <div ngbDropdown class="perfil">
                <button class="avatar" id="dropdownBasic1" ngbDropdownToggle >
                    <img src="https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg"
                        alt="foto">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="btng salir">Salir</button>
                </div>
            </div>
            <h3>
                {{nombre}}
            </h3>
        </div>
        
    
    </div>
</header>
<div class="contenido">
    <nav>
        <div class="navegar">
            <button (click)="navegar(' ')">Registrar</button>
            <button (click)="navegar('Solicitar')">Solicitud</button>
            <button (click)="open(content)">Informacion</button>
            <button (click)="navegar(' ')">Asociados</button>
        </div>
    </nav>
    <main>
        <div class="principal">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">Informacion seguros</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="pagina">
                <a ngbNavLink>One</a>
                <ng-template id="cosaatras" ngbNavContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                        retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro
                        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                        Aliquip placeat
                        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </p>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Two</a>
                <ng-template ngbNavContent>
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko
                        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                        aliquip jean shorts
                        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                        mollit. Keytar
                        helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                        cillum wes anderson
                        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                        scenester
                        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Three</a>
                <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                        Nulla facilisi.
                        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                        congue et odio.
                        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                        Sed diam urna,
                        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                        nisl enim, nec
                        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                        penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                        ultricies in eget
                        neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>

</ng-template>