<div class="Asociados">
    <div class="titulo"> 
        <h2  class="centrado">
            ASOCIADOS
        </h2>
    </div>
    
    <div class="contiene">
        <ngx-datatable
        #table
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
        [columns]="columns"
        [footerHeight]="0"
        ></ngx-datatable>
       <!--  <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col"  >Tipo de  identificion </th>
                <th scope="col" >Numero de  identificion</th>
                <th scope="col" >Correo  Electronico</th>
                <th scope="col" >Telefono</th>
                <th scope="col" >Producto</th>
                <th scope="col" sortab="Fecha" (sor)="onSor($event)">Fecha de solicitud </th>
                <th scope="col" sortab="Estado" (sor)="onSor($event)">Estado del  Formulario </th>
                <th scope="col" >Asesor</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries">
                <th scope="row">{{ country.Nombre }}</th>
                <td>
                    {{ country.tipID }}
                </td>
                <td>
                    {{ country.id }}
                </td>
                <td>
                    {{ country.Correo }}
                </td>
                <td>
                    {{ country.Telefono }}
                </td>
                <td>
                    {{ country.Producto }}
                </td>
                <td>
                    {{ country.Fecha }}
                </td>
                <td>
                    {{ country.Estado }}
                </td>
                <td>
                    Calos Celis
                </td>
            </tr>
            </tbody>
        </table> -->
    </div>
</div>

