<header>
    <div class="header">
        <img src="../../../assets/img/Logo-measegura.png" alt="MeAsegura">

        <div class="Identifica">
            <div ngbDropdown class="perfil">
                <button class="avatar" id="dropdownBasic1" ngbDropdownToggle >
                    <img src="https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg"
                        alt="foto">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="btng salir">Salir</button>
                </div>
            </div>
            <h3>
                {{nombre}}
            </h3>
        </div>
        
    
    </div>
</header>
<div class="contenido">
    <nav>
        <div class="navegar">
            <button  (click)="navegar('Solicitar')">Solicitud</button>
            <button  (click)="navegar(' ')">Asociados</button>
        </div>
    </nav>
    <main>
        <div class="principal">
            <router-outlet></router-outlet>
        </div>

    </main>
</div>


 