<header>
    <div class="header">
        <img src="../../../assets/img/Logo-measegura.png" alt="MeAsegura">
            <!-- <div class="perfil">
                <button (click)="mostrar()">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg"
                        alt="foto">
                </button>

                <a class="btng" href="#" *ngIf="salir" (click)="mostrar()">salir</a>
            </div> -->
    </div>
</header>
<div class="conlog">
        <div class="cajalog">
                <div class="logo">
                    <img src="{{logo}}" alt="LOGO">
                </div>
                <div class="logeo">
                    <form (ngSubmit)="ingresar(formu)" #formu="ngForm">
                        <div class="infor">
                            <i class="fas fa-user"></i>
                            <input type="text" 
                            placeholder="User"
                            name="usuario"
                            ngModel
                            #User = "ngModel">
                        </div>

                        <div class="infor">
                            <i class="fas fa-shield-alt"></i>
                            <input type="password" 
                            placeholder="password" 
                            name="Contraseña"
                            ngModel
                            #Pass = "ngModel"
                            >
                        </div>

                        <div class="roll">
                            <div>
                                <input type="radio"
                                name="Rol" 
                                value="admin"
                                id="admin"
                                ngModel
                                #Rol = "ngModel"
                                />
                                <label>Admin</label>
                            </div>
                            
                            <div>
                                <input type="radio"
                            name="Rol"
                            value="Asesor"
                            id="asesor"
                            ngModel
                            #Rol = "ngModel"
                            />
                            <label>Asesor</label>
                            </div>
                        </div>
                        <div class="botonn">
                            <button type="submit">Ingresar</button>
                        </div>
                    </form>
                </div>
        </div>
        
</div>