<div class="Cliente">

    <div class="titulo">
        <h2 class="centrado">Producto </h2>
    </div>

    <div class="formulario">
        <form  autocomplete="off">
                <div class="infor">
                    <label class="Nombr"> Nombre </label>
                    <input type="text" name="name" class="Contenido">
                </div>
                <div class="infor">
                    <label class="Nombr"> Apellido </label>
                    <input type="text" name="firstname"  class="Contenido">
                </div>
                <div class="infor">
                    <label class="Nombr"> Documento </label>
                    <input type="text" name="Tipid" class="Contenido">
                </div>
                <div class="infor">
                    <label class="Nombr"> Numero </label>
                    <input type="text" name="id"  class="Contenido">
                </div>
                <div class="infor">
                    <label class="Nombr"> Telefono </label>
                    <input type="text" name="id" class="Contenido">
                </div>
                <div class="infor ">
                    <label class="Nombr" for="mail"> Email </label>
                    <input class="Contenido" name="mail" type="text" value="" >
                </div>
                <div class="Comentarios">
                    <div class="contened">
                        <label  for="comentario"> Comentarios  </label>
                        <textarea name="" id=" comentario" cols="50%" rows="4%"> </textarea>
                    </div>
                </div>
                <div class="botones">
                    <div class="botoncon">
                        <button type="submit" (click)="Continuar()">Registrar</button>
                    </div>
                </div>
        </form>
        
    </div>
</div>
