
<div class="documentos">

    <div class="titulo">
        <h2 class="centrado">Documentacion</h2>
    </div>

    <div class="contenidodoc">
        <div *ngFor="let item of Documento" class="informacion">

            <label class="ltipo"> 
                {{item.tipo}} 
            </label>
            
            <div class="container">
                <label class="check">
                    <input type="checkbox" [checked]="item.aprobado" disabled >
                    <span>
                        <i class="fas fa-folder of"></i>
                        <i class="far fa-folder-open on"></i>
                    </span>
                </label>
            </div>
            
            <button class="pdf" (click)="lanzar(PDF)" *ngIf="item.aprobado" >
                <i class="far fa-file-pdf"></i>
            </button>
            <button class="subir" *ngIf="!item.aprobado" (click)="subirpadf()">
                <i class="fas fa-file-upload"></i>
            </button>           
            
        </div>
    </div>
</div>

<!-- <button class="btna" (click)="lanzar(PDF)">
    lanzar pdf
</button> -->
<ng-template #PDF let-modal>
    <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body" style="width: 98%; margin-bottom:20px ; ">

        <div style="height: 450px;   " >
            <pdf-viewer style="display: block; "
            [src]="Src"
            [page]="1"
            [rotation]="0"
            [original-size]="false"
            [show-all]="true"
            [fit-to-page]="true"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="true"
            [render-text]="true"
            [external-link-target]="'top'"
            [autoresize]="true"
            [show-borders]="true"
        ></pdf-viewer>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btnc trash" (click)="modal.close('Close click')">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</ng-template>
