@use "variables" as v;
@use "Asesor/agendamiento";
@use "Asesor/infoCliente"; 
@use "Asesor/documentos";
@use "Asesor/modalesAsesor";
@use "Asesor/asociados";


header{
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    background-color: v.$primario;
    align-items: center;
    img{
        max-width: 35rem;
        margin-left: 2rem;
    }

    .Identifica{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        margin-right: 3rem;

        h3{
            font-weight: bold;
            font-size: 2.5rem;
            color: v.$claro;
            margin: 0;
        }

        .perfil{
            /* margin-right: 10rem; */
            /* background-color: violet; */
           /*  text-align: center; */
            .avatar{
                background-color: transparent;
                border: unset;
                img{
                    max-width: 8rem ;
                    border-radius: 40px;
                }
                
            }
            .dropdown-toggle::after{
                display: none;
            }
            .dropdown-menu.show{
                border: none;
                background-color: transparent;
            }
            .salir{
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
    }

    
}

.contenido{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: calc(100vh - 10rem);
    gap: 2rem;

    nav{
        width: 100%;
        height: 100%;
        
        .navegar{
            
            width: 100%;
            margin-top: 40%;
            height: 70%;
            display: flex;
            flex-direction: column;
            button{
                background-color: v.$primario;
                border-top-right-radius: 2rem ;
                border-bottom-right-radius: 2rem ;
                border-style:unset ;
                color: v.$claro;
                margin: 1.5rem 0;

                font-family: v.$fuenteaux;
                font-weight: bold;
                padding: 1rem ;
                width: 28rem;
                font-size: 3rem;
                transition-property: transform ;
            }

            button:hover{
                background-color: v.$secundario;
                color: v.$primario;
                transform: scale(1.2);
            }
        }
    }

    main{
        grid-column: 2 / 5;
        height: 100%;
        /* background-color: v.$secundario; */
        /* overflow-y: scroll; */
        .principal{
            height: 95%;
        }
    }
    
}
