@use "variables" as v;

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuenteppal;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: v.$claro;
}

h1{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}

h2, h3{
    font-weight: 700;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}
