@use 'variables' as v;

.conlog{
    width: 100%;
    background-color: v.$claro;
    height:calc(100vh - 18rem);
    .cajalog{
        background: v.$secundario;
        margin: 0 auto;
        margin-top:3rem;
        width: 30rem;
        height: 65vh;
        border-radius: 5rem;
        .logo{
            width: 50%;
            margin: 0 auto;
            padding-top: 1.5rem;
            img{
                border-radius: 60%;
            }
        }
        .logeo{
            margin-top: 3rem;
            form{
                max-width: 70%;
                margin: 0 auto;
                
                .infor{
                    /* background-color: red; */
                    width: 100%;
                    height: 4.5rem;
                    background: v.$terciario;
                    display: flex ;
                    align-items: center;
                    border-radius: 5rem;
                    margin-bottom: 2.5rem;
                    i{
                        font-size: 3rem;
                        margin-left: .8rem;
                        color: v.$oscuro;
                    }
                    input{
                        width: 75%;
                        height: 3rem;
                        margin-left: 1rem;
                        border: unset;
                        border-radius: 5rem;
                        background: v.$blanco;
                        padding-left: 1.5rem;
                        
                    }
                }
                .roll{
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 1.5rem;
                    input[type=radio] {
                        display: block;
                        margin: 0 auto;
                        border: 0px;
                        width: 100%;
                        height: 2.5rem;
                        border-color: v.$claro;
                        color: v.$oscuro;
                        cursor: pointer;
                    }
                    label {
                        display: inline-block;
                        color: v.$oscuro
                    }
                }

                .botonn{
                    width: 100%;
                    text-align: center;
                    button{
                        background-color: v.$primario;
                        color: v.$claro;
                        border: unset;
                        padding: .4rem;
                        border-radius: 10px;
                        margin: 0 auto;
                        font-size: 2.5rem;
                    }
                    button:hover{
                        transform: scale(1.08);
                    }
                }
            }
        }
    }
}