@use "variables" as v;
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.centrado{
    text-align: center;
}

.mt-5{
    margin-top: 5rem;
}

.btng{
    background-color: v.$primario;
    border-radius: 2rem;
    color: v.$claro;
}

.btna{
    background-color: #4C956C;
    border-radius: 2rem;
    color: v.$claro;
    transition-property: transform ;
}

.btna:hover{
    background-color: #3c7555;
    transform: scale(1.05);
    color: v.$claro;
}

.btnc{
    background-color: #D00000;
    border: none;
    border-radius: 2rem;
    color: v.$claro;
}

.btnc:hover{
    background-color: #aa0202;
    transform: scale(1.05);
    color: v.$claro;
}

.titulo{
    height: 30%;
    width: 100%;
    background:v.$secundario ;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    h2{
        margin-top: 0;
    }
}